psycopg2-binary==2.9.11
PyJWT==2.12.1

fastapi
uvicorn[standard]
gunicorn

sqlalchemy
psycopg2-binary

pydantic
pydantic-settings

python-dotenv

alembic

requests
httpx
aiofiles

python-multipart

python-jose
passlib[bcrypt]

email-validator

geopy
argon2-cffi